{% extends 'writer/navbar.html' %}

{% block content %}

<br>
{% for article in AllArticles %}

    <div class="container bg-white shadow-md p-5 form-layout">
        <h3>{{ article.title }}</h3>

        <br>

        {{ article.content }}

        <br> <br>

        {{ article.date_posted }}

        <br> <br>

        {% if article.is_premium == True %}
            ⭐ <strong>Premium</strong>
        {% elif article.is_premium == False %}
            <strong>Standard</strong>
        {% endif %}

        <hr>

        <a class="btn btn-info w-100 p-2" href="{% url 'update-article' article.id %}">Update article</a>

        <br><br>

        <a class="btn btn-danger w-100 p-2" href="{% url 'delete-article' article.id %}">Delete article</a>

    </div>

<br>

{% endfor %}

{% endblock %}