{% extends 'client/navbar.html' %}

{% load crispy_forms_tags %}

{% block content %}

<br>

<div class="container bg-white shadow-md p-5 form-layout">
    <h3>Account details</h3>
    <p>You may update your account details below:</p>
    <br>

    <form method="post" autocomplete="off">
        {% csrf_token %}
        {{ UpdateUserForm|crispy }}
        <input class="btn btn-success w-100" type="submit" value="Update details"/>
    </form>
</div>

<br>

{% if SubscriptionID %}

<!-- IF there is a SubscriptionID then display no subscription plans (link)-->

{% else %}
<div class="container bg-white shadow-md p-5 form-layout text-center">
    <h5>Browse subscription plans</h5>

    <hr>

    <p>Check all the available subscription plans:</p>

    <br>

    <a class="btn btn-success" type="button" href="{% url 'subscription-plans' %}">
        View subscription plans
    </a>

</div>
{% endif %}

<br>

{% if SubscriptionID %}

<div class="container bg-white shadow-md p-5 form-layout text-center">
    <h5>Update your subscription</h5>

    <hr>

    <p>Upgrade or downgrade your subscription by clicking the button below</p>

    <br>

    <a id="updateButton" class="btn btn-info" type="button" href="{% url 'update-subscription' SubscriptionID %}">
        > &nbsp; Update subscription
    </a>

</div>

<br>

<div class="container bg-white shadow-md p-5 form-layout text-center">
    <h5>Cancel your subscription</h5>

    <hr>

    <p>Permanently delete your subscription by clicking the button below</p>

    <br>

    <a id="deleteButton" class="btn btn-danger" type="button" href="{% url 'delete-subscription' SubscriptionID %}">
        > &nbsp; Delete subscription
    </a>

</div>

{% endif %}

<br>

<div class="container bg-white shadow-md p-5 form-layout">

    <h3>Account deletion</h3>

    <hr>

    <p>Proceed below to delete your account:</p>

    <a href="{% url 'client-delete-account' %}">Delete your account</a>

</div>

<br>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function (){
        $('#deleteButton').on('click', function (){
            $(this).text('Processing...');
        });
    });

    $(document).ready(function (){
        $('#updateButton').on('click', function (){
            $(this).text('Processing...');
        });
    });
</script>

{% endblock %}