{% extends 'client/navbar.html' %}

{% block content %}
    <br>
    <div class="container bg-white shadow-md p-5 form-layout text-center">
        <h5>👋 Welcome, {{ user.first_name }}</h5>

        <hr>

        <p>
            As a <strong>client</strong> you will have the ability to browse through

            standard and premium articles.
        </p>
    </div>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout text-center">
        <h5>Subscription plan:</h5>
        <p>📉 {{ SubPlan }}</p>
        {% if SubPlan is not None %}
            {% if IsActive %}
                <br>
                <h5>Subscription status:</h5>
                <p>Active</p>
            {% else %}
                <br>
                <h5>Subscription status:</h5>
                <p>Inactive</p>
            {% endif %}
        {% endif %}
    </div>

    <br>
{% endblock %}