{% extends 'client/navbar.html' %}

{% block content %}
<br>
<div class="container bg-white shadow-md p-5 form-layout">
    <h3>Account deletion</h3>

    <hr>

    <h6>{{ user.title }}</h6>

    <br>

    <p>You may delete your account '{{ user.email }}' below:</p>

    <form method="post" autocomplete="off">
        {% csrf_token %}
        <input class="btn btn-danger w-100 p-2" type="submit" value="Delete account"/>
    </form>

    <br>

    <a href="{% url 'client-dashboard' %}">Return to dashboard</a>

</div>
{% endblock %}