{% extends 'client/navbar.html' %}

{% block content %}
<br>
<div class="container bg-white shadow-md p-4 form-layout text-center">
    <h5>Subscription plans</h5>
</div>
<br>

<div class="row">

    <div class="container bg-white shadow-md p-5 form-layout text-center">

        <h5>Standard subscription</h5>

        <hr>

        <p>Join us for standard access here:</p>

        <strong>(Limited article access)</strong>

        <hr>

        <div id="paypal-button-container-P-6JS80290PP7576504M7VHMGQ"></div>

        <!--CLIENT ID-->
        <script src="https://www.paypal.com/sdk/js?client-id=AaNEZVd0WmkEgVyEoQHiRqxpMrJc5rA5snyAtrZYndR9T5KwPC_BHDgxDD5t3EM4QT1C2wt3ByP1LJz1&vault=true&intent=subscription" data-sdk-integration-source="button-factory"></script>
        <script>
        paypal.Buttons({
          style: {
              shape: 'pill',
              color: 'silver',
              layout: 'vertical',
              label: 'subscribe'
          },
          createSubscription: function(data, actions) {
            return actions.subscription.create({
              /* Creates the subscription */
              plan_id: 'P-6JS80290PP7576504M7VHMGQ'
            });
          },
          onApprove: function(data, actions) {
            var current_url = '/client/create-subscription/' + data.subscriptionID + "/Standard"
            window.open(current_url, '_self')
          }
        }).render('#paypal-button-container-P-6JS80290PP7576504M7VHMGQ'); // Renders the PayPal button
        </script>
    </div>


    <div class="container bg-white shadow-md p-5 form-layout text-center">

        <h5>Premium subscription</h5>

        <hr>

        <p>Elevate your experience with premium here:</p>

        <strong>(Full article access)</strong>

        <hr>

        <div id="paypal-button-container-P-9US4287463251591KM7VHNBA"></div>

        <!--PREMIUM PLAN LOGIC-->
        <script>
          paypal.Buttons({
              style: {
                  shape: 'pill',
                  color: 'gold',
                  layout: 'vertical',
                  label: 'subscribe'
              },
              createSubscription: function(data, actions) {
                return actions.subscription.create({
                  /* Creates the subscription */
                  plan_id: 'P-9US4287463251591KM7VHNBA'
                });
              },
              onApprove: function(data, actions) {
                var current_url = '/client/create-subscription/' + data.subscriptionID + "/Premium"
                window.open(current_url, '_self')
              }
          }).render('#paypal-button-container-P-9US4287463251591KM7VHNBA'); // Renders the PayPal button
        </script>

    </div>

</div>

<br>

{% endblock %}