{% load static %}

<!DOCTYPE html>
<head>
    <title>Edenthought</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/lux/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>

<div class="container bg-white shadow-md p-5 form-layout">

    <h3>Password reset complete</h3>

    <hr>

    <p>
        Your password has been reset.

        You may now go ahead and login to your account with your new password
    </p>

    <a class="btn btn-success w-100" href="{% url 'my-login' %}">Proceed to login</a>

</div>

</body>