{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/lux/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>

    <body>

        <br>
        <div class="container bg-white shadow-md p-5 form-layout">
            <h1> Register </h1>
            <hr>
            <p>Start your journey today whether you are a client or a writer.</p>
            <br>
            <form method="post" autocomplete="off">
                {% csrf_token %}
                {{ RegisterForm|crispy }}
                <br>
                <input class="btn btn-success w-100" type="submit" value="Register"/>
            </form>

            <br>

            <div class="text-center">
                <a href="{% url 'my-login' %}">Already have an account?</a>
            </div>
        </div>
        <br>

    </body>
</html>